<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChaseLabs.Configuration" version="0.0.3" targetFramework="net48" />
  <package id="ChaseLabs.Logger" version="0.0.7" targetFramework="net48" />
  <package id="ChaseLabs.Updater" version="0.1.1" targetFramework="net48" />
  <package id="FFMpegSharp" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="ThammimTech.Microsoft.Office.Core" version="15.0.0" targetFramework="net48" />
</packages>